body{
    margin: 0;

}


.block{
    height: 100vh;
    
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    

}

p{
    margin: 0;
    font-size: 5rem;
    font-weight: bold;


    text-shadow: #000 2px 2px 5px;
    text-align: center;
    color: #fff;
}

.b1{
    
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url("IMG_7428.png");
    
}

.b2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url("IMG_7435.png");
    ;
    
        
        
    
}

.b3{
   background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url("IMG_7436.png");
    
}

.b4{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url("IMG_7431.png");
    
}
